/* You can add global styles to this file, and also import other style files */

/************************************************
  Fuentes de Google
  url: https://fonts.google.com/
 ************************************************/
 @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Mono:300');
 /*@import "../node_modules/font-awesome/css/font-awesome.css";*/
 
 /************************************************
   Temas preconstruidos disponibles de Material:
   deeppurple-amber.css
   indigo-pink.css
   pink-bluegrey.css
   purple-green.css
 **************************************************/
 /*
   Temas de Material Angular
   url: https://material.angular.io/guide/theming
 
   Se desactiva para usar tema personalizado de Material en styles-theme-material.scss.
 
   Si está utilizando la CLI angular, la compatibilidad para compilar Sass a css está incorporada.
   Solo tiene que agregar una nueva entrada a la lista de "styles" al angular.json y señalar el archivo *.scss de tema.
 
  */
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
 
 html, body {
   /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
   font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
   height: 100%;
 }
 
 body {
   margin: 0;
   padding-top: 56px;
   overflow-x: hidden; /* Prevent scroll on narrow devices */
 }
 
 .font-bs {
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 }
 
 .font-mat {
   font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
 }
 
 .app-nav {
   background-color: #3f51b5;
   /*background-color: #0555fa;*/
   font-family: Roboto;
   font-size: 14px;
   font-weight: bold;
 }
 
 .shadow-elevation-z6 {
   box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
 }
 
 .bg-blue {
   background-color: #3f51b5;
 }
 
 .link-white {
   color: white !important;
 }
 
 .text-comunicado-head {
   font-family: 'Roboto';
   font-size: smaller;
   margin: 0;
   padding: 0;
 }
 
 .text-comunicado-body {
   font-family: 'Roboto';
   font-size: smaller;
 }
 
 .buttons-sm {
   display: none;
 }
 
 @media (max-width: 575.98px) {
   .buttons-md {
     display: none;
   }
 
   .buttons-sm {
     display: block;
   }
 }
 
 .card-outline-danger {
   background-color: transparent;
   border-color: #d9534f;
 }
 
 .card-outline-primary {
   background-color: transparent;
   border-color: #007bff;
 }
 
 .card-outline-warning {
   background-color: transparent;
   border-color: #ffc107;
 }
 
